<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<header>
  <a href="/"><img src="images/AT-School-Logo.png" width="75" alt="AT School Logo"></a>
  <h1>Awkward Tchildren School</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/read">Script</a></li>
      <li><a href="/login" id="accountLogin">Login</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </nav>
</header>
<hr>
