<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.0/firebase-auth-compat.js"></script>
<script src="/firebase.js"></script>
<script src="account.js"></script>
<header>
  <a href="/"><img src="images/AT-School-Logo.png" width="75" alt="AT School Logo"></a>
  <h1>Awkward Tchildren School</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/read">Script</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </nav>
</header>
<hr>
