@font-face {
  font-family: 'flankergriffo';
  src: url('fonts/FlankerGriffo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'flankergriffo', serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  background-color: #EAEAE4; 
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0.5rem 0;
}

nav {
background-image:linear-gradient(to bottom left,  #ff00ff 10%,  #ff0000 30%,  #ffff00 50%,  #00ff00 70%,#00ffff 90%);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
background-color:rgba(24, 10, 22, .4);
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(74, 68, 88, .4);
}

#profile {
border-radius: 50%;
  width: 30px;
  height: 30px;
  position:absolute;
  top: 1em;
  right: 1em;
  border:solid darkgrey 2px;
  cursor:pointer;
}

#profileMenu {
position: absolute;
  top: calc(1em + 40px);
  right: 1em;
  background-color: white;
  border-radius: 4px;
  z-index:1000;
}

#profileMenu > div, #profileMenu > a > div {
    padding: 0.5rem;
    cursor: pointer;
    font-family:'flankergriffo';
  font-size:.75em;
}

#profileMenu > div:hover, #profileMenu > a > div:hover {
background-color:lightgrey;
  
}

a {
text-decoration: none;
color:inherit;
}

#signupForm input, #signupForm select {
    display: block;
    margin: 3px;
}

#pfp, .pfp {
width:50px;
height:50px;
border-radius:50%;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-left: 10px;
    vertical-align: middle;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  #accountInfo table td:nth-child(1) {
    width:60%;
    text-align:left;
  }
    #accountInfo table td:nth-child(2) {
    width:40%;
    text-align:right;
  }

  #superSecretStuffHere td {
    width:150px;
    text-align:center;
  }

  .bigPFP {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    border: solid darkgrey 3px;
    margin-top: 5px;
  }
  
.staffMember {
    width: 200px;
    text-align: center;
    height: 300px;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    background-color: lightgrey;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staffMember > p {
    margin: 4px;
}
  .staffBio {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 5px;
  }

  #staffHolder > div > div {
    display:flex;
    flex-wrap:wrap;
  }

  