@font-face {
  font-family: 'flankergriffo';
  src: url('fonts/FlankerGriffo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'flankergriffo', serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  background-color: #EAEAE4; 
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0.5rem 0;
}

#header-container nav {
background-image:linear-gradient(to bottom left,  #ff00ff 10%,  #ff0000 30%,  #ffff00 50%,  #00ff00 70%,#00ffff 90%);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
background-color:rgba(24, 10, 22, .4);
  transition: background-color 0.3s ease;
}

nav a:hover, nav a:focus {
  background-color: rgba(74, 68, 88, .4);
}

#profile {
border-radius: 50%;
  width: 30px;
  height: 30px;
  position:absolute;
  top: 1em;
  right: 1em;
  border:solid darkgrey 2px;
  cursor:pointer;
}

#profileMenu {
position: absolute;
  top: calc(1em + 40px);
  right: 1em;
  background-color: white;
  border-radius: 4px;
  z-index:1000;
}

#profileMenu > div, #profileMenu > a > div {
    padding: 0.5rem;
    cursor: pointer;
    font-family:'flankergriffo';
  font-size:.75em;
}

#profileMenu > div:hover, #profileMenu > a > div:hover {
background-color:lightgrey;
  
}

a {
text-decoration: none;
color:inherit;
}

#signupForm input, #signupForm select {
    display: block;
    margin: 3px;
}

#pfp, .pfp {
width:50px;
height:50px;
border-radius:50%;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-left: 10px;
    vertical-align: middle;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  #accountInfo table td:nth-child(1) {
    width:60%;
    text-align:left;
  }
    #accountInfo table td:nth-child(2) {
    width:40%;
    text-align:right;
  }

  #superSecretStuffHere td {
    width:150px;
    text-align:center;
  }

  .bigPFP {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    border: solid darkgrey 3px;
    margin-top: 5px;
  }
  
.staffMember {
    display: flex; 
    width: 200px;
    margin: 5px;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    align-items: center;
}
.staffMember > p {
    margin: 4px;
}
  .staffBio {
      flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;      /* IE/Edge */
    scrollbar-width: none;         /* Firefox */
    min-width: min-content;
    font-size:small;
  }
div .staffBio::-webkit-scrollbar {
      display: none;
}
  .staffBioWrapper {
   background: white;
    border-radius: 0.5rem;
    margin-top: auto;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}


  #staffHolder > div > div {
    display:flex;
    flex-wrap:wrap;
  }

  .pronouns {
    font-size:.8em;
    font-style:italic;
  }

.staffMember:nth-child(9n+1), #homepage-list div:nth-child(9n+1){
    background-color: #df9892;
}
.staffMember:nth-child(9n+1) .pronouns, #homepage-list div:nth-child(9n+1) {
    color:rgb(128, 61, 55);
}
.staffMember:nth-child(9n+1) .bigPFP, #homepage-list div:nth-child(9n+1) {
    border-color:rgb(128, 61, 55);
}

.staffMember:nth-child(9n+2), #homepage-list div:nth-child(9n+2) {
    background-color: #f2bc83;
}
.staffMember:nth-child(9n+2) .pronouns, #homepage-list div:nth-child(9n+2){
    color:rgb(126, 66, 3);
}
.staffMember:nth-child(9n+2) .bigPFP, #homepage-list div:nth-child(9n+2){
    border-color:rgb(126, 66, 3);
}
.staffMember:nth-child(9n+3), #homepage-list div:nth-child(9n+3) {
    background-color: #ffff80;
}
.staffMember:nth-child(9n+3) .pronouns, #homepage-list div:nth-child(9n+3) {
    color:rgb(180, 180, 0);
}
.staffMember:nth-child(9n+3) .bigPFP, #homepage-list div:nth-child(9n+3) {
    border-color:rgb(180, 180, 0);
}
.staffMember:nth-child(9n+4), #homepage-list div:nth-child(9n+4),#taskLink {
    background-color: #95d395;
}

.staffMember:nth-child(9n+4) .pronouns, #homepage-list div:nth-child(9n+4), #taskLink {
    color:rgb(34, 117, 34);
}

.staffMember:nth-child(9n+4) .bigPFP, #homepage-list div:nth-child(9n+4), #taskLink {
    border-color:rgb(34, 117, 34);
}

.staffMember:nth-child(9n+5), #homepage-list div:nth-child(9n+5)  {
    background-color: #87CEEB;
}
.staffMember:nth-child(9n+5) .pronouns, #homepage-list div:nth-child(9n+5)  {
    color:rgb(38, 96, 119);
}
.staffMember:nth-child(9n+5) .bigPFP, #homepage-list div:nth-child(9n+5)  {
    border-color:rgb(38, 96, 119);
}
.staffMember:nth-child(9n+6), #homepage-list div:nth-child(9n+6)  {
    background-color: #8d8cd3;
}
.staffMember:nth-child(9n+6) .pronouns, #homepage-list div:nth-child(9n+6){
    color:rgb(32, 31, 83);
}
.staffMember:nth-child(9n+6) .bigPFP, #homepage-list div:nth-child(9n+6){
    border-color:rgb(32, 31, 83);
}
.staffMember:nth-child(9n+7), #homepage-list div:nth-child(9n+7) {
    background-color: #c384c3;
}
.staffMember:nth-child(9n+7) .pronouns, #homepage-list div:nth-child(9n+7) {
    color:rgb(90, 20, 90);
}
.staffMember:nth-child(9n+7) .bigPFP, #homepage-list div:nth-child(9n+7) {
    border-color:rgb(90, 20, 90);
}
.staffMember:nth-child(9n+8), #homepage-list div:nth-child(9n+8)  {
    background-color: #e19ec3;
}
.staffMember:nth-child(9n+8) .pronouns, #homepage-list div:nth-child(9n+8)  {
    color:rgb(114, 34, 78);
}
.staffMember:nth-child(9n+8) .bigPFP, #homepage-list div:nth-child(9n+8)  {
    border-color:rgb(114, 34, 78);
}
.staffMember:nth-child(9n+9), #homepage-list div:nth-child(9n+9)   {
    background-color: #ffb2b2;
}
.staffMember:nth-child(9n+9) .pronouns, #homepage-list div:nth-child(9n+9){
    color:rgb(119, 74, 74);
}
.staffMember:nth-child(9n+9) .bigPFP, #homepage-list div:nth-child(9n+9){
    border-color:rgb(119, 74, 74);
}

#profileContainer .pfp {
  width:100px;
  height:100px;
}

#top {
    display: flex;
    gap: 8px;
    align-items: center;
}

#top .stacked {
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.displayName {
  margin:0;
  font-size:1.8rem;
}

.username {
  color:#464646;
  font-weight:400;
  margin-top: 0;
  font-size: small;
}

#top .pronouns {
color:#838383;
font-size:smaller;
margin-top: -8px;
margin-bottom:0;
}

.editButton {
     width: 16px;
    height: 16px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}

.editButton svg{
  fill:none;
  stroke-width: 2;
  stroke: rgba(0,0,0,.5);
}

.editButton svg:hover{
  stroke: rgba(0,0,0,.9);
}

.editButton path {
      stroke-linecap: round;
    stroke-linejoin: round;
    d: path("m 16.862 4.487 l 1.687 -1.688 a 1.875 1.875 0 1 1 2.652 2.652 L 6.832 19.82 a 4.5 4.5 0 0 1 -1.897 1.13 l -2.685 0.8 l 0.8 -2.685 a 4.5 4.5 0 0 1 1.13 -1.897 L 16.863 4.487 Z m 0 0 L 19.5 7.125");
}

.editButton::-webkit-scrollbar {
  display: none;
}

.staff-edit-menu, .new-task-menu {
    margin: auto;
    position: fixed;
    border-radius: 5px;
    background-color: white;
    min-height: 40%;
    min-width: 56%;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70%;
}
.dimmingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 9999;
  overscroll-behavior: contain;
  touch-action: none;
}

.resourceImage {
  width:150px;
  margin:auto;
  border-radius:50%;
}

#imageContainer {
  display:flex;
  flex-wrap:wrap;
}

#imageContainer div {
  display:grid;
  text-align:center;
  padding:5px;
}

#homepage-list {
  display:flex;
  flex-wrap:wrap;
  padding:5px;
}

#homepage-list div, #taskLink {
  border-radius:5px;
  padding: .3em;
  border: solid 3px;
  font-size: 1.1em;
  margin: 3px;
  text-transform: uppercase;
  text-align: center;
}

#searchDiv {
  margin-top:2rem;
}

.profile-bio-div {
    min-height: 2rem;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 4px;
    margin-top: 1em;
}

.resetpasswordbutton {
  padding:5px;
}

#resetForm {
  padding:10px 5px;
}

#resetForm input,#resetForm label,#resetForm button {
  display:block;
  margin:2px;
}

.tinyreddot {
  color: white;
  background-color:red;
  border-radius: 50%;
  position: absolute;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  line-height: 1.1em;
  right:-.7em;
  top:-.7em;
  pointer-events:none;
}

#taskLink {
  padding:5px;
  border-radius: 5px;
  border:solid 3px;
  display: block;
  padding: 5px;
  position: relative;
  width:fit-content

}

#dashboard-holder {
    display: flex;
    flex-wrap: wrap;
}

#tasks-container td {
    border: solid lightgrey 2px;
    padding: .3em;
}

#new-task-button {
    margin-top: 1em;
    padding: .3em;
    border-radius: .5em;
    border: solid grey 2px;
    width: fit-content;
    background-color: lightgrey;
    cursor: pointer;
}

#tasks-container td p {
  margin:0;
}

#whoOptions {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;

}

iframe {
  min-width:90%;
  height:15em;
}

.block-read {
      margin: auto;
    position: fixed;
    border-radius: 5px;
    background-color: white;
    height: 60%;
    width: 56%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    display: flex;
    pointer-events: all;
}

.block-read p {
  margin: auto;
  font-size: 5em;
}

.back-block-button {
  position: absolute;
    bottom: 5px;
    left: 45%;
    right: 45%;
}

#read-sidebar {
    width: 250px;
    background-color: #f9f9f9;
    padding: 5px;
    border-right: 1px solid #ccc;
    height: 100vh;
    overflow-y: auto;
    top: 0;
}

.read-tree-menu {
  display:flex;
  flex-direction:column;
  align-items: start;
}
.read-tree-menu ul {
  list-style: none;
    padding-left: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.read-tree-menu li {
    width: 100%;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.read-tree-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 4px 0;
}

.read-tree-menu .toggle {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
  margin-left: .2em;
  padding: 2px;
}

.read-tree-menu ul ul {
  display: none;
}

.read-tree-menu .open > ul {
  display: block;
}

.toggle img {
  width:1em;
}

.read-tree-menu span{
  display: flex;
}

#tasks-container {
  display:flex;
  flex-direction: column;
  align-content:center;
  gap: 1em;
  max-width:900px
}

.task .task-name {
  font-size: large;font-weight: bold;
}

.task-content {
  font-size:small;
  border:solid lightblue .18em;
  border-radius:1em;
  padding:1em;
}

.task p {
  margin:0;
}

.task {
  padding:1em;
  border:solid lightblue .18em;
  border-radius:1em;
}

#imageUpload {
  display:flex;
  flex-direction: column;
  padding:.5em;
}

#imageDisclaimer {
  font-size:x-small;
}

#imageFormRemainder {
  display:flex;
  flex-direction: column;
  align-items: start;
}

#profileContainer {
  display: flex;
  flex-wrap: wrap;
}

#photosTabular {
  display:flex;
  padding:4px;
}

div#profilePhotos {
    display: flex;
    height: min-content;
    margin: 1em;
    flex-direction:column;
}

#photosTabular {
    display: flex;
    padding: 4px;
    width: 100%;
    background-color: lightgrey;
    padding-bottom: 0px;
}

#photosTabular div {
    background-color: white;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

#containsPhotos {
  flex-wrap:wrap;
  display:flex;
}
#containsPhotos img {
  max-width:10em;
  min-width:4em;
}

#containsPhotos img:hover {
  min-width:11em;
}
